@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rowdies&display=swap');

:root {
    --primary-bg: #fcfbfb;
    --secondary-bg: #219ebc;
    --section-bg: #ffb703;

    --primary-font-color: #000000;
    --secondary-font-color: #ffffff;

}

html,
body {
    background-color: #fcfbfb;
    font-family: Roboto, Rowdies, sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

body {
    color:var(--primary-font-color);

}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--primary-bg);
    color: var(--primary-font-color);
}

header {
    background-color: var(--secondary-bg);
    color: var(--secondary-font-color);
    display: grid;
    grid-template-columns: 150px auto;
}

#hero {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:-100px;
}

#hero-box{
    grid-column:1/4;
    grid-row: 1/3;
    z-index:-1;

}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: white;
    color: #ffb703
}

main section {
    text-align: center;
}

main section.msg {
    background-color: var(--secondary-bg);
    color: var(--secondary-font-color);
}

main section img{
    box-sizing: border-box;
}

.button-box {
    text-align: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: white;
}

#background {
    height: 725px;
    background-color: var(--section-bg);
}

footer {
    background-color: var(--secondary-bg);
    color: var(--secondary-font-color);
    padding:25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

.home-title{
    font-family: 'Rowdies','Roboto', sans-serif;
    font-size: 3em;
    margin-top: 10px;
    color:#219ebc;
}
.msg{
    background-color: #219ebc;
    line-height: 1.5em;
    padding: 35px;

}

.msg p{
    padding-bottom: 15px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#logo{
    width:80px;
}

.book, .join{
    background-color:#219ebc;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding:15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
    width: 100%;
}

.card-img{
    border: 10px solid;
    color: #ffb703;
    width: 100%;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row:
}

nav{ 
    display: flex;
    justify-content: space-around;
}

#hero-msg{
    grid-column:2/3;
    grid-row:1/2;
    margin-top: 100px;
}




