@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Source+Serif+Pro&display=swap');

:root{
    --primary-color:#2a2b2a;
    --secondary-color:#a2a2a2;
    --accent1-color: #181818;
    --acccent2-color:#ffffff;

    --heading-font:"gloock";
    --paragraph-font:gloock, source+seif+pro, sans-serif;
}

#logo-link{
    padding-top:5px;
    justify-self: center;
    align-self: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

nav a{
    text-align: center;
    color:var(--accent1-color);
    text-decoration: none;
    padding: 25px;
    border-radius:150px;
    background-color: #e6e6e6;
}

nav{
    display:flex;
    justify-content:space-around;
    margin-top:155px;
    margin-bottom:30px;
}

nav a:hover{
    background-color: var(--secondary-color);
    color:var(--accent1-color);
    border-radius: 50px;
    text-shadow: #2a2b2a;
}

header{
    background-color:var(--acccent2-color);
    display:grid;
    grid-template-columns: 150px auto;
}

.logo{
    width:250px;
    margin-left:40px;
}

h2{
    font-size:100px;
    text-align:center;
}

p{
    font-size:50px;
    text-align:center;
}

section{
    margin-top:180px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:var(--primary-color);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 100px;
    background-color: #f2f2f2;
    padding: 65px;
    margin-top: 140px;
  }

  /* Style all font awesome icons */
.fa {
    padding: 50px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background:var(--primary-color);
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background:var(--primary-color);
    color: white;
  }

  .fa-instagram{
    background:var(--primary-color);
    color:white;
  }

  .socialmedia{
    margin-top:75px;
    text-align:center;
  }

  h4{
    text-align:center;
    font-size:60px;
    font-family:gloock;
  }

  .socialmsg{
    text-align:center;

  }