@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Source+Serif+Pro&display=swap');

:root{
    --primary-color:#2a2b2a;
    --secondary-color:#a2a2a2;
    --accent1-color: #181818;
    --acccent2-color:#ffffff;

    --heading-font:"gloock";
    --paragraph-font:gloock, source+seif+pro, sans-serif;
}

#logo-link{
    padding-top:5px;
    justify-self: center;
    align-self: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

nav a{
    text-align: center;
    color:var(--accent1-color);
    text-decoration: none;
    padding: 25px;
    border-radius:150px;
    background-color: #e6e6e6;
}

nav{
    display:flex;
    justify-content:space-around;
    margin-top:155px;
    margin-bottom:30px;
}

.home-title{
    color:var(--accent1-color);
    font-family:var(--heading-font);
    font-size: 5em;
    margin-top:-550px;
    margin-left:50px;
}

#ingredients-msg h4{
    color: var(--accent1-color);
    margin-left:60px;
    margin-top:-30px;
    font-size: 1.4em;
}

#ingredients{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:-100px;
}

#ingredients-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index:-1;
}


header{
    background-color:var(--acccent2-color);
    display:grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: var(--secondary-color);
    color:var(--accent1-color);
    border-radius: 50px;
    text-shadow: #2a2b2a;
}

.logo{
    width:250px;
    margin-left:40px;
}

#facebook-img{
    width: 40px;
    padding:50px;
}

#twitter-img{
    width:35px;
    padding:50px;

}

#insta-img{
    width:35px;
    padding:50px;

}

footer{
    background-color:var(--acccent2-color);
    color:var(--accent1-color);
    padding: 25px 50px;
    display:flex;
    justify-content: space-around;
    align-items:center;
}

footer a{
    background-color:var(--acccent2-color);
    color:var(--accent1-color);
    text-decoration: none;
}

.social{
    padding-top:15px;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 26px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Green */
  .home {
    border-color:var(--primary-color);
    color:var(--primary-color);
  }
  
  .home:hover {
    background-color:var(--primary-color);
    color: white;
  }
  
  /* Orange */
  .contactus {
    border-color:var(--primary-color);
    color:var(--primary-color);
  }
  
  .contactus:hover {
    background:var(--primary-color);
    color: white;
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .pastries {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .pastries-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .pastries-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .pastries-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .pastries:hover .pastries-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .pastries:hover .pastries {background-color:var(--primary-color);}
  
